<footer>
    <div class="wrapper">
        <div class="row justify-center">
            <div class="footer__elem col">
                <h4 trs-id="footer-elem1-title">flop!EDT</h4>
                <p trs-id="footer-elem1-desc">flop!EDT est un logiciel de création et de gestion d'emploi du temps
                    gratuit, libre et open source en développement. Il a été conçu par des professeurs de l'IUT de
                    Blagnac et est distribué sous licence AGPLv3.</p>
                <div class="utils row">
                    <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank"><img
                                src="{{ asset('build/images/agpl.png') }}" alt=""></a>
                    <a href="https://www.iut-blagnac.fr/fr/" target="_blank"><img
                                src="{{ asset('build/images/iut.png') }}"></a>
                </div>
            </div>
            <div class="footer__elem col">
                <h4 trs-id="footer-elem2-title">Liens rapides</h4>
                <ul>
                    <li><a trs-id="nav-item1" href="">flop!edt</a></li>
                    <li><a trs-id="nav-item2" href="">Créateurs</a></li>
                    <li><a trs-id="nav-item3" href="">Aperçu</a></li>
                    <li><a trs-id="nav-item4" href="">Contact</a></li>
                </ul>
            </div>
            <div class="footer__elem col">
                <h4 trs-id="footer-elem3-title">Contact</h4>
                <span>
                            <i class="far fa-envelope"></i>
                            <a href="mailto:contact@flopedt.org">contact@flopedt.org</a>
                        </span>
                <div style="height: 20px;"></div>
                <h4 trs-id="footer-elem4-title">Langues</h4>
                <div class="row">
                    <img id="lang-fr" class="flag" src="{{ asset('build/svg/fr-flag.svg') }}" alt="">
                    <img id="lang-en" class="flag" src="{{ asset('build/svg/en-flag.svg') }}" alt="">
                </div>
            </div>
        </div>
        <div class="footer__bottom row justify-center">
            <p>flop!EDT Copyright &copy; 2020. Made with <i class="fas fa-heart"></i> by Hugo Amalric & Thomas
                Gouveia.
            </p>
        </div>
    </div>
</footer>