{% extends 'base.html.twig' %}

{% block title %}| Contributeurs{% endblock %}

{% block body %}
    <section class="flop__contributors">
        <div class="wrapper">
            <div class="contributors__header">
                <h1>Contributeurs du projet</h1>
                <p>Retrouvez ci-dessous la liste de toutes les personnes ayant participé de près ou de loin au développement de l'application.</p>
            </div>
            {% for category, contributor in contributors %}
                {% if contributor|length != 0 %}
                <div class="contributors__category">
                    <h3>{{ category|title }}</h3>
                    <div class="row auto-wrap">
                        {% for c in contributor %}
                        <div class="contributor__card">
                            {{ c }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="contributors__tutorial">
                <h1>Comment contribuer ?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci corporis culpa cupiditate, dolorem dolores enim eos error harum, illum ipsa nam odit perspiciatis placeat repellat repellendus, soluta vel vero. Voluptate.</p>
            </div>
        </div>
    </section>
    <script src="{{ asset('build/contributors.js') }}"></script>
{% endblock %}

