@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap");
@font-face {
    font-family: "flog";
    src: url("../fonts/flog.ttf") format("truetype"), local("flog");
}
//Import
@import './theme/theme';
@import './theme/globals';
@import './theme/animations';
@import './partials/menu-icon';
@import './partials/navbar';
@import './partials/heading-section';
@import './partials/view-more-section';
@import './partials/authors-section';
@import './partials/users-section';
@import './partials/screenshots-section';
@import './partials/contact-section';
@import './partials/contributors';
@import './partials/reviews';
@import './partials/footer';
@import './responsive/responsive';

* {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}

