$primaryColor: #fff;
$accentColor: #00cc00;
$logoFont: "flog", sans-serif;
$mainFont: "Poppins", sans-serif;
$logoRed: red;
$logoGreen: $accentColor;
$borderRadius: 20px;
$grey: #333;
$fontColor: #9d9d9d;
$footerColor: #2a2a2a;
$footerFontColor: #c9ccdb;
