@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.logo-font {
    font-family: 'flog', sans-serif;
}

.flop__red {
    color: #FF0000;
}

.flop__green {
    color: #0C0;
}