@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap');

$green: #0C0;
$red:  #FF0000;

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.logo-font {
    font-family: 'flog', sans-serif;
}

.flop__red {
    color: $red;
}

.flop__green {
    color: $green;
}