<section class="flop__authors">
    <img src="{{ asset('build/svg/grey-wave.svg') }}" alt="" class="wave">
    <div class="wrapper">
        <div class="top__content">
            <h1>Créateurs</h1>
            <span class="flop__authors__border"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eius facilis, fugiat hic impedit
                iste iure laboriosam minima, minus nobis nulla odio placeat quasi quia quo rerum unde vel
                veritatis.</p>
        </div>
        <div class="flop__authors__pictures">
            <img src="{{ asset('build/images/pse.jpg') }}" alt="PSE" class="active">
            <img src="{{ asset('build/images/prg.jpg') }}" alt="PRG">
            <img src="{{ asset('build/images/io.jpg') }}" alt="IO">
        </div>
        <div class="flop__authors__content">
            <div class="flop__authors__details active" id="PSE">
                <span class="flop__authors__name">Pablo Seban</span>
                <p>
                    Professeur à l'IUT de Blagnac
                </p>
            </div>

            <div class="flop__authors__details" id="PRG">
                <span class="flop__authors__name">Paul Renaud Goud</span>
                <p>
                    Professeur à l'IUT de Blagnac
                </p>
            </div>

            <div class="flop__authors__details" id="IO">
                <span class="flop__authors__name">Iulian Ober</span>
                <p>
                    Professeur à l'IUT de Blagnac
                </p>
            </div>
        </div>
    </div>
</section>