<section class="flop__authors">
    <img src="{{ asset('build/svg/grey-wave.svg') }}" alt="" class="wave">
    <div class="wrapper">
        <div class="top__content">
            <h1>Contributeurs</h1>
            <span class="flop__authors__border"></span>
            <p> Je suis <span class="typed-element"></span> et j'ai contribué(e) au développement de FlopEDT. </p>
        </div>
    </div>
</section>