<section class="flop__heading">
    <img class="flop__wave" src="{{ asset('build/svg/heading-wave.svg') }}" alt="Vague SVG">
    <div class="flop__heading__content">
        <div class="flop__heading__content__left">
            <div class="flop__laptop">
                <img class="laptop" src="{{ asset('build/images/laptop.png') }}" alt="">
                <img class="screen" src="{{ asset('build/images/flop_heading_screen.png') }}"
                     alt="Capture d'écran FlopEDT">
            </div>
        </div>
        <div class="flop__heading__content__right">
            <h1><span class="logo-font">flop!EDT</span>, {{'heading.title'|trans}}</h1>
            <div class="separator"></div>
            <p>Vous en avez marre de passer des heures à réaliser un emploi du temps qui convient à tout le monde ?
                Découvrez notre gestionnaire d'emploi du temps <strong><span
                            class="flop__red">FL</span>exible</strong> et <strong><span
                            class="flop__green">OP</span>en source</strong> qui fera le travail à votre place.</p>
        </div>
        <a trs-id="view-more" href="#" class="flop__view__more__btn">Voir plus</a>
    </div>
</section>