<!--
<section class="flop__reviews">
    <div class="wrapper">
        <div class="reviews-swiper-container col align-center">
            <div class="swiper-wrapper">
                {% for review in reviews %}
                    <div class="swiper-slide review__box shadow">
                        <div class="review__content">
                            <i class="fas fa-quote-right quote"></i>
                            <p>"{{ review.review }}"</p>
                            <h3>{{ review.author }}</h3>
                            <span>{{ review.authorSituation }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-center reviews-swiper-pagination"></div>
        </div>
    </div>
</section>
-->
