<section class="flop__users">
    <img class="svg" src="{{ asset('build/svg/separator-up.svg') }}" alt="">
    <div class="wrapper">
        <div class="top__content">
            <h1>Ils utilisent <span class="flop__green logo-font">flop</span>!<span
                        class="flop__red logo-font">EDT</span></h1>
            <span class="flop__authors__border"></span>
            <p>Retrouvez ci-dessous les établissements qui utilisent flop!EDT au quotidien.</p>
        </div>
        <div class="row justify-center">
            <div class="flop__users__card" onclick="window.open('https://www.iut-blagnac.fr/fr/', '_blank');">
                <img src="{{ asset('build/images/iut.png') }}" alt="IUT Blagnac">
                <div class="flop__users__card__text">
                    <h3>IUT Blagnac Toulouse II</h3>
                    <p>1 PLACE GEORGES BRASSENS<br> BP 60073<br> 31703 BLAGNAC CEDEX</p>
                </div>
            </div>
        </div>
    </div>
</section>