.flop__contributors {
  padding-top: 70px;
  min-height: 100vh;

  .contributors__header {
    margin-bottom: 20px;
  }

  .contributor__card {
    margin: 10px 20px 10px 0;
    transition: .5s ease-in-out;
    &:hover {color: $accentColor}
  }
}