.flop__heading {
  height: 100vh;
  position: relative;

  .flop__wave {
    position: absolute;
    bottom: 0;
  }

  .flop__heading__content {
    width: 80%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .flop__view__more__btn {
      position: absolute;
      bottom: 0;
      color: $primaryColor;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid $primaryColor;
      padding: 15px 15px;
      animation: fadeInBottom 3.5s ease-in-out;
      transition: 0.5s ease-in-out;

      &:hover {
        transform: translateY(-10px);
        background: $primaryColor;
        color: $logoGreen;
      }
    }

    .flop__heading__content__left {
      width: 70%;
      animation: 1.5s fadeInRight ease-in-out;

      .flop__laptop {
        width: 100%;
        max-width: 1200px;
        position: relative;

        .laptop {
          width: 100%;
        }

        .screen {
          position: absolute;
          width: 73.1%;
          height: 92%;
          background: #000;
          top: 3.5%;
          left: 14.8%;
          z-index: -1;
        }
      }
    }

    .flop__heading__content__right {
      width: 30%;
      animation: 1.5s fadeInLeft ease-in-out;
    }
  }
}
