.flop__navbar {
  position: fixed;
  width: calc(100% - 15px);
  top: 0;
  height: 70px;
  background: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: 0.5s ease-in-out;

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 15px;

    li {
      display: inline;

      .nav-links {
        padding: 24px;
        text-decoration: none;
        color: #000;
        transition: 0.5s ease-in-out;
        text-transform: uppercase;

        &.nav-active, &:hover {
          color: $accentColor;
          position: relative;
          cursor: pointer;
          transition: .5s ease-in-out;

          &:after {
            border-radius: 50px;
            content: '';
            position: absolute;
            background: $accentColor;
            width: 20px;
            height: 3px;
            top: 15px;
            right: 15px;
          }

          &:before {
            border-radius: 50px;
            content: '';
            position: absolute;
            background: $accentColor;
            width: 20px;
            height: 3px;
            bottom: 15px;
            left: 15px;
          }
        }

        &.contact-link {
          background: $accentColor;
          color: $primaryColor;
          border-radius: $borderRadius;
          padding: 10px 20px;
        }
      }
    }
  }
}

@keyframes goToRight {
  100% {
    right: 15px;
  }
}
